@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* to enable list style in dangerouslysetinnerhtml, enable set-inner-html class  */
  .set-inner-html ul {
    @apply list-disc list-inside;
  }
  .set-inner-html ol {
    @apply list-decimal list-inside;
  }
}

/* @layer components {
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Bold.ttf);
    font-style: bold;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Light.ttf);
    font-style: light;
  }
} */

body {
  background: #fff;
  font-family: "Poppins";
}

.navbarbg {
  background: linear-gradient(
    44deg,
    rgb(25 133 114 / 97%) 20%,
    rgba(95, 201, 181, 0.92) 95%,
    rgba(95, 201, 181, 0.9) 30%
  );
}
.footerbg {
  background-size: contain;
  background: linear-gradient(
      45deg,
      rgba(34, 38, 41, 0) 0%,
      rgba(34, 38, 41, 0) 0%
    ),
    url(https://jss.jogjakota.go.id/v4/img/bg/footer.jpg) repeat;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  /* animation-duration: 300ms; */
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}